/* Estilos generales */
ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1, h2, h3, p, form {
    margin: 0;
    padding: 0;
  }
  
  .clear {
    clear: both;
  }
  
  img {
    border: none;
  }
  
  /* Contenedor */
  @media screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }
}
  /* Cabecera */
  #cabecera {
    padding: 1em;
  }
  
  /* Menú */
  #menu {
    clear: both;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* Contenido */
  #contenido {
    float: left;
    width: 78%;
  }
  
  #contenido #principal {
    float: left;
  }
  
  #contenido #secundario {
    float: right;
    width: 20%;
  }
  
  /* Lateral */
  #lateral {
    float: right;
    width: 20%;
  }
  
  /* Pie */
  #pie {
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
  }
  
  /* Publicidad */
  #publicidad {
    padding: 0.5em;
    margin-top: 1em;
  }
  
  /* Estilos adicionales */
  #principal .articulo {
    margin-bottom: 1em;
  }
  
  #principal .articulo img {
    margin: 0.5em;
    width: 100px;
    float: left;
  }
  
  /* Buscador */
  #cabecera #buscador {
    float: right;
  }
  
  /* Menú principal */
  #menu ul#menu_principal li {
    display: inline;
    float: left;
  }
  
  /* Enlaces y copyright */
  #pie .enlaces {
    float: left;
  }
  
  #pie .copyright {
    float: right;
  }
  
  /* Borde general */
  #cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
    border: 2px solid #777;
  }
  